﻿@page "/"

@implements IDisposable

<MudContainer MaxWidth="MaxWidth.Small">

    <MudGrid>
        <MudItem>
            <MudPaper Class="pa-4 mt-2">
                <MudRadioGroup @bind-SelectedOption="this.ApiVersion">
                    <MudRadio Option="@SharedConstants.ApiBaseUrl">Api</MudRadio>
                    <MudRadio Option="@SharedConstants.MinimalApiBaseUrl">Minimal Api</MudRadio>
                </MudRadioGroup>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="7">
            <MudPaper Class="pa-4 mt-2">
                <MudTextField @bind-Value="this.personId" Label="Person Id"></MudTextField>
                <div>
                    <MudButton
                        Color="Color.Primary" 
                        StartIcon="@Icons.Material.Filled.PersonSearch"
                        Variant="Variant.Filled" 
                        OnClick="this.OnGetClicked">Get</MudButton>
                </div>
            </MudPaper>
            <MudPaper Class="pa-4 mt-2">
                <MudForm>
                    <div class="d-flex flex-column">
                        <MudTextField @bind-Value="this.person.Id" Label="Id" />
                        <MudTextField @bind-Value="this.person.Name" Label="Name" />
                        <MudSelect @bind-Value="this.person.Gender" Label="Gender">
                            <MudSelectItem Value="Models.Enums.Gender.Unset"></MudSelectItem>
                            <MudSelectItem Value="Models.Enums.Gender.Male">Male</MudSelectItem>
                            <MudSelectItem Value="Models.Enums.Gender.Female">Female</MudSelectItem>
                        </MudSelect>
                        <MudCheckBox @bind-Checked="this.person.IsAlive">Is Alive?</MudCheckBox>
                    </div>
                </MudForm>
                <div>
                    <MudButton 
                        Color="Color.Primary" 
                        StartIcon="@Icons.Material.Filled.Save" 
                        Variant="Variant.Filled" 
                        OnClick="this.OnSaveClicked">Save</MudButton>
                    <MudButton 
                        Color="Color.Secondary"
                        StartIcon="@Icons.Material.Filled.Clear"
                        Variant="Variant.Filled" 
                        OnClick="this.OnClearClicked">Clear</MudButton>
                </div>
            </MudPaper>
            @if (!String.IsNullOrWhiteSpace(this.errorMessage))
            {
                <MudPaper Class="pa-4 mt-2">
                    <MudText Color="Color.Error">
                        @this.errorMessage
                    </MudText>
                </MudPaper>
            }
        </MudItem>
        <MudItem>
            <MudPaper Class="mt-2" Width="180px">
                <MudList>
                    <MudListSubheader>Person Ids</MudListSubheader>
                    @foreach (int id in this.personIds)
                    {
                        <MudListItem>@id</MudListItem>
                    }
                </MudList>
            </MudPaper>
        </MudItem>
    </MudGrid>

</MudContainer>