﻿@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        Ant
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
